$second-color:#d18f09;
$block-default:#373739;
$block-hover:#424447;
$black-bg:#2a2b2d;
$font-family:'Cairo', sans-serif;
$font-color:#FFF;
$font-color-2:#bcbdbe;
$logo-bg:#5e5e5e;
$logo-bg-hover:#CCC;
body{
    font-family: $font-family;
    background-color: #FFFFFF;
}
.owl-dots {
    counter-reset: dots;
}
.owl-dot:before {
    counter-increment:dots;
    content: counter(dots);
}
.no-matches{
    background-color: $block-default;
    color: $font-color-2;
    text-align: center;
    line-height: 9;
}
$c: 36px;

.ubo-slide{
    display: block !important;
     width: Calc(100% - #{$c*2});
    margin: auto;
    &.owl-loaded{
        position: relative;
        .owl-prev,.owl-next,.owl-dots{
            position: absolute;
            top: 0;
            color:$second-color;
            background-color: $black-bg;
            
        }
        .owl-prev,.owl-next{
                display: inline-block;
                width: #{$c};
                text-align: center;
                font-size: 0;   
                top: 0;  
                    line-height: #{$c*4};  
        }
        .owl-prev{
            left: -#{$c};
            &:after{
                
                        content: "\f137";
                            display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

                }
            }
            .owl-next{
                right: -#{$c};
                  &:after{
                        content: "\f138";
                            display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;

    text-rendering: auto;
    -webkit-font-smoothing: antialiased;

                }
            }
           
            .owl-dots{
               
                margin: auto;
                display: inline-block;
                left: 0;
                right: 0;
                text-align: center;
                 width: Calc(100% + #{$c*2});
                 left: -#{$c};
                .owl-dot{
                    display: inline-block;
                        padding: 5px;
                }
            }
    }
}
 $a: 100%;
$b: 3;
.wrapper-ubo{
    font-size: 0;
    background-color: $block-default;
    box-shadow: inset 0px 0px 0px 1px $black-bg;
    transition: all 0.5s ease;
    cursor: pointer;
*{
     transition: all 0.5s ease;
}
.col-#{$b}ubo{
    display: inline-block;
    width: calc(#{$a} / #{$b});
    font-size: 14px;
    text-align: center;
    vertical-align: middle;
   color:$font-color;
   }
    .iLogo{
          width: 25px;
    height: 25px;
    background-color: $logo-bg;
    padding: 10px;
    border-radius: 50%;
    box-shadow:0px 0px 0px 0px $black-bg;
    }
     &:hover{
        background-color: $block-hover;
        .iLogo{
            transform:scale(1.4);
            box-shadow:0px 0px 5px 0px $black-bg;
            background-color: $logo-bg-hover;
        }
    }
    h1,h2,h3,h4,h5,p{
        display: block;
        word-break: break-all;
        font-size: 12px;
        margin: 0;
        margin-bottom: 5px;
    } 
    .status-ubo{
               background-color: $black-bg;
    color: $second-color;
    margin: auto;
    display: inline-block;
    padding: 5px 10px;
    border-radius: 10px;
    line-height: 1;
    border: 1px solid $second-color;
    }
.score-ubo{
    font-size: 0;
    span{
    width: Calc(100%/2);
    display: inline-block;
        font-size: 32px;
        color: $second-color;
        font-weight: bold;
    }
}
    p{
        color: $font-color-2;
    }


}
.ubo-44Ef{
    * {
    box-sizing: border-box;
}
    direction:rtl;
    .clearfix{
        &:before,&:after{
                display: table;
    content: " ";
        clear: both;
        }
    }
    header{
        clear:both;
        position: relative;
            border-bottom: 1px solid #e9e9e9;
         
        .title{
            display: inline-block;
            font-size: 21px;
            margin: 0;
           
                padding-top: 10px;
             padding-bottom: 20px;
             position: relative;
             &:after{
                 content: "";
                display: block;
                width: 100%;
                height: 1px;
                background-color: $second-color;
                border-top:1px solid #FFF;
                border-bottom:1px solid #FFF;
                bottom: -2px;
                right: 0;
                position: absolute;
             }
        }
        .head-options{
            float: left;
        }
        .option-calendar{
            font-size: 32px;
            color: $second-color;
            border:0;
            box-shadow: 0;
            display: inline-block;
            width: auto;
            height: auto;
            vertical-align: middle;
            padding-bottom: 15px;
        }
       
    }
    .select2-container{
        background-color: #fbfbfb;
      border: 1px solid #e8e8e8;
      border-radius: 0;
         text-align: right;
direction: rtl;
    width: auto !important;
    font-size: 12px;
    display: inline-block;
    vertical-align: middle;
    }
.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 26px;
    position: absolute;
    top: 0;
    right: auto;
    width: 20px;
    left: 0;
    bottom: 0;
    margin: auto;
}
    .select2-container--default .select2-selection--single{
      background-color: transparent;
      border: 0 solid #e8e8e8;
      border-radius: 0;
      padding: 0;
      height: auto;
    }
.select2-container .select2-selection--single .select2-selection__rendered{
  padding: 10px 10px 10px 30px;
}

    .nav-tabs{
        text-align: center;
        border-bottom: 1px solid $black-bg;
            position: relative;
    }
    .nav-tabs>li{
        float: none;
        margin: -2px;
        display: inline-block;
    }
    .nav-tabs>li>a,
     .nav-tabs>li>a:hover,
      .nav-tabs>li>a:focus,
    .nav-tabs>li.active>a,
     .nav-tabs>li.active>a:hover,
      .nav-tabs>li.active>a:focus{
        border-radius: 0;
        margin-right: 1px;
        font-size: 12px;
         background-color: $black-bg;
    color: $font-color-2;
    text-decoration: none;
    border:0px solid ;
    border-bottom: 0;
    padding: 5px 20px;
    }
    .nav-tabs>li.active>a,
        .nav-tabs>li.active>a:hover,
        .nav-tabs>li.active>a:focus{
            background-color: $second-color ;
        color: $block-default;
        }
     .nav-tabs>li>a:hover{
         color: #FFF;
     }
    .nav > li.all-matches{
       position: absolute;
    left: 0;
    top: 0;
        &>a,
     &>a:hover,
      &>a:focus,
    &.active>a,
     &.active>a:hover,
      &.active>a:focus{
          background-color: transparent;
          color: white;
          i{
              font-size: 22px;
    vertical-align: text-top;
    margin-right: 5px;
          }
      }
    }
}
.select2-dropdown{
font-size: 12px;
text-align: right;
direction: rtl;
}

.select2-results__option{}
.select2-container--default .select2-results__option[aria-selected=true]{

}
.more-match{
    display: none;
}
@media (max-width: 600px) {
    .wrapper-ubo .iLogo{
        padding: 0;
    }
    .wrapper-ubo .score-ubo span{
        line-height: 1;
            font-size: 16px
    }
     .wrapper-ubo .status-ubo{
             padding: 4px 5px;
    font-size: 10px;
    display: inline-block;
     }
    .wrapper-ubo .status-ubo+p{
        display: inline-block;
    }
    .wrapper-ubo h1, .wrapper-ubo h2, .wrapper-ubo h3, .wrapper-ubo h4, .wrapper-ubo h5, .wrapper-ubo p{
        font-weight: normal;
    line-height: 1;
    }
    .wrapper-ubo{
        padding: 5px 0;
    }
    .ubo-slide{
        width: 100%;
    }
    .ubo-44Ef{
        padding-bottom: 37px;
        margin-bottom: 25px;
        position: relative;
        .ubo-slide{
            .item{
                visibility: hidden;
                opacity: 0;
                 height: 0; 
                  transition: opacity 0.5s ease-out;
                &:nth-child(1),
                &:nth-child(2),
                &:nth-child(3){
                    visibility: visible;
                opacity: 1;
                 height: auto; 
                }
            }
        }
        &.show-all{
             .ubo-slide{
                .item{
                     visibility: visible;
                opacity: 1;
                 height: auto; 
                }
            }
        }
        .nav-tabs{
            position: static;
            margin-top: 0;
        }
         .nav>li.all-matches {
                position: absolute;
                left: 0;
                bottom: 0;
                margin: 0;
                    top: auto;
            }
    }
    .more-match{
        background-color:$block-default;
        border:1px solid  $black-bg;
        position: absolute;
        width: 60px;
        height: 35px;
        display: block;
        bottom: 0;
        right: 0;
        left: 0;
        margin: auto;
        text-align: center;
        line-height: 38px;
        cursor: pointer;
        svg{
            fill: #e7a70a;
            width: 15px;
            height: 15px;
            transition: all .2s ease-in-out 0s;
            transform: translate3d(0,0,0);
           
        }
         &.rotate{
             svg{
                transform: rotate(180deg);
                zoom: 1;
            }
        }
        
    }
}